*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: crimson;
}

.preguntas{
    margin: auto;
    margin-top: 80px;
    width: 960px;
    height: 800px;
    background-color: azure;
    padding: 20px;
}

.respuestas{
    margin: auto;
    margin-top: 80px;
    width: 960px;
    height: 1000px;
    background-color: azure;
    padding: 20px;
}

header{
    display: flex;
    background-color: azure;
    height: 275px;
    width: 100%;
}

header .info{
    margin-top: 5%;
    width: 100%;
    text-align: center;
    justify-content: center;

}
.preguntas h1{
    text-align: center;
}
.respuestas h1{
    text-align: center;
}